/*  */

:root{
  font-family:'Montserrat', sans-serif;
}


.side{
  background-color: #203562;
  width: 290px;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 0px 0px 15px;
  font-family:'Montserrat', sans-serif;;
}
.topick{
  color: #203562;
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  font-size: 40px;
  padding: 50px 0px 0px 60px;
  
}
.container-fluied{
  width: 322px;
  height: 1056px;
  

}
#container-fluid{
  width: 1086px;
  height: 1024px;
  background-color: #E3E8F8 ;
}
.addnote{
  width: 1000px;
  height: 366px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px 0px 0px 20px;
  padding: 50px;
  color: #676869;
  font-size: 32px;
  font-family:'Montserrat', sans-serif;
  
}
.form{
  width: 700px;
  padding-top: 40px;
  font-size: 20px;
  border: none;
  outline: none;
  color: rgb(56, 107, 5);
     
 }
 #hero {
     width: 100%;
     height: 725px;
     background: url("./assets/wallpaper.jpg") top left;
     background-size:cover;
     position: relative;
     padding: 300px;
    
   }
   
   #hero:before {
     content: "";
     background: rgba(255, 255, 255, 0.6);
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;
   }
   
   #hero .container {
     position: relative;
   }
   
   #hero h1 {
     margin: 0;
     font-size: 48px;
     font-weight: 700;
     line-height: 56px;
     color: #222222;
     font-family: "Poppins", sans-serif;
   }
   
   #hero h1 span {
     color: #106eea;
   }
   
   #hero h2 {
     color: #555555;
     margin: 5px 0 30px 0;
     font-size: 24px;
     font-weight: 400;
   }
   
   #hero .btn-get-started {
     font-family: "Roboto", sans-serif;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 14px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 10px 28px;
     border-radius: 4px;
     transition: 0.5s;
     color: #fff;
     background: #106eea;
   }
   
   #hero .btn-get-started:hover {
     background: #247cf0;
   }
   
   #hero .btn-watch-video {
     font-size: 16px;
     transition: 0.5s;
     margin-left: 25px;
     color: #222222;
     font-weight: 600;
     display: flex;
     align-items: center;
   }
   
   #hero .btn-watch-video i {
     color: #106eea;
     font-size: 32px;
     transition: 0.3s;
     line-height: 0;
     margin-right: 8px;
   }
   
   #hero .btn-watch-video:hover {
     color: #106eea;
   }
   
   #hero .btn-watch-video:hover i {
     color: #3b8af2;
   }
   
   @media (min-width: 1024px) {
     #hero {
       background-attachment: fixed;
     }
   }
   
   @media (max-width: 768px) {
     #hero {
       height: 100vh;
     }
   
     #hero h1 {
       font-size: 28px;
       line-height: 36px;
     }
   
     #hero h2 {
       font-size: 18px;
       line-height: 24px;
       margin-bottom: 30px;
     }
   
     #hero .btn-get-started,
     #hero .btn-watch-video {
       font-size: 13px;
     }
   }
   
   @media (max-height: 500px) {
     #hero {
       
       height: 120vh;
     }
     
   }
 
   .title{
     border: none;
     outline: none;
     color: rgb(136, 2, 2);
     font-size: 30px;
   }
 #footer{
   margin-top:100px;
   margin-left: 20px;
 }
 
 .row-main{
   overflow-x:scroll;
   width: 1000px;
   overflow-y: hidden;
 }
 .top1{
   font-size: 32px;
   color:#203562;
   font-family:'Montserrat', sans-serif;
   font-weight: 600;
 }
 @media (max-width:576px){
   body{
     width:576px;
     
     
     
   }
   #homein{
  width:1000px !important ;
 
  
   }
 #hero{
   background-image: url("./assets/wallpaper.jpg");
   background-size:cover;
   height:auto; 
   width: 1000px;
   
 }
 
 }

 /* ------------home ------- */
 body{
  font-family: 'Lato', sans-serif;
}
.wrapper{
  width:1400px;
margin-right: 0px;
 
}
header{
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('./assets/wallpaper.jpg');
  

  height: 100vh;
  
  background-position: center center;
  position: relative;
  
}
.nav-area{
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-area li{
  display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover{
  background: #12914b;
  color: #f7f1f1;
}
.logo{
  float: left;
}
.logo img{
  width: 100%;
  padding: 15px 0;
}
.welcome-text{
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 13% 30%;
  text-align: center;
}
.welcome-text h1{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Libre Baskerville', serif;
}
.welcome-text a{
  border: 1px solid #ada6a6 ;
  border-radius: 5px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #c2b6b6 !important;
  
  
}
.welcome-text a:hover{
  background: #12914b;
  color: #fff !important;
  border: #401B3D;
}



@media (max-width:600px){
  .wrapper {
width: 100%;
}
.logo {
float: none;
width: 50%;
text-align: center;
margin: auto;
}

.nav-area {
float: none;
margin-top: 0;
}
  .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
  .welcome-text {
width: 100%;
height: auto;
margin: 30% 0;
}
.welcome-text h1 {
font-size: 30px;
}
}





/* CSS */
.button-64 {
  align-items: center;
  /* background-image: linear-gradient(144deg,#e2dce6, #5B42F3 50%,#00DDEB); */
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 50% !important;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  
}

/* .button-64:active,
.button-64:hover {
  outline: 0;
} */

.button-64 span {
  background-color: rgb(179, 188, 23);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: rgb(118, 187, 230);
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}




.content {
  position: relative;
  margin-left: 250px;
  padding-left: 40px;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* .content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03f4b8;
} */

/* .content h2:nth-child(2) {
  color: #220114;
  animation: animate 4s ease-in-out infinite;
} */

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}